*.sdf
*.vcxproj.user
*.VC.opendb
.vs
.vscode
.idea

xcuserdata
*.xcworkspace
xcshareddata

WSATestCertificate.pfx*

bin
build
external/streamline/*
projects/Android/libs/*
projects/Android/obj/*
source/*.o
